a,
h1 {
	margin: 0;
	line-height: 24px;
}
.card,
.main {
	position: relative;
	display: flex;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol';
	background: #0e1e25;
	color: #fff;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 22px;
}
p:last-of-type {
	margin: 0;
}
a {
	text-decoration: none;
	font-weight: 600;
	color: #007067;
}
.main {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}
.card {
	flex-direction: column;
	width: 75%;
	max-width: 364px;
	padding: 24px;
	background: #fff;
	color: #0e1e25;
	border-radius: 8px;
	box-shadow: 0 2px 4px 0 rgba(14, 30, 37, 0.16);
}
